<a href="https://colab.research.google.com/github/ukasz21/learning/blob/main/codemy_numpy_tutorial/numpy_codemy_pt1-9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **All important methods and functions:**
- np.arange()
- np.shape
- np.zeros()
- np.ones()
- np.full()
-

## **Normal list**

In [2]:
list1 = [1,2,3,4,5]
list2 = ['John', 41, list1, True]

## **Numpy array**

In [91]:
import numpy as np

- create an array

In [3]:
np1 = np.array([0,1,2,3,4,5,6,7,8,9])
print(np1)

[0 1 2 3 4 5 6 7 8 9]

- shape

In [5]:
np1.shape # returns the shape of array

(10,)

- arange

In [8]:
np2 = np.arange(10)

np3 = np.arange(0, 101, 2) # arange func has (start, stop, step)
print(np3)

[  0   2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34
  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70
  72  74  76  78  80  82  84  86  88  90  92  94  96  98 100]

- zeros

In [13]:
np4 = np.zeros(10) # one dimension

np5 = np.zeros((2, 10)) # two dimensions - rows and columns
print(np5)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

- full

In [16]:
np6 = np.full(10, 6) # number of items, item

np7 = np.full((2, 10), 6) # 2x10 filled with 6
print(np7)

[[6 6 6 6 6 6 6 6 6 6]
 [6 6 6 6 6 6 6 6 6 6]]

- convert python list to np

In [18]:
list1 = [1,2,3,4,5]
np8 = np.array(list1)
print(type(np8))

<class 'numpy.ndarray'>

- access the elements

In [19]:
print(np8[0])

1

**PART2**

slicing 1D arrays

In [28]:
np1 = np.arange(1, 10)

#how to return 2, 3, 4, 5?

print(np1[1: 5])

# how to return something till the end

print(np1[3:])

# how to return negative slices

print(np1[-3: -1])

#how to do steps?

print(np1[1:5:2])

# how to step the entire array?

print(np1[::2])

[2 3 4 5]
[4 5 6 7 8 9]
[7 8]
[2 4]
[1 3 5 7 9]

- slicing 2D arrays

In [38]:
np2 = np.arange(1, 11).reshape(2, 5)

#pull items out

print(np2[1, 2])

#slice 2-d array
print(np2[0:1, 1:3]) # first is the row 0-1 but 1 is exclusive

#slive both rows
print(np2[0:2, 1:3])

8
[[2 3]]
[[2 3]
 [7 8]]

**PART3**

- numpy universal function - https://numpy.org/doc/stable/reference/ufuncs.html

In [58]:
np1 = np.arange(-3, 10)

#square root
print(np.sqrt(np1))
print("-----------------------")

#square
print(np.square(np1))
print("-----------------------")

#absolute value - abs() w.bezwzgledna
print(np.absolute(np1))
print("-----------------------")

#exponents
print(np.exp(np1))
print("-----------------------")

#min/max
print(np.max(np1))
print(np.min(np1))
print("-----------------------")

#sign - positive or negative
print(np.sign(np1))
print("-----------------------")

#trig functions sin cos tan arcsin arccos
print(np.sin(np1))
print("-----------------------")

'''other functions are: np.greater(x, y), greater_equal, less, less_equal, equal, logical_and
logical_or, logical_xor, logical_not
'''

[       nan        nan        nan 0.         1.         1.41421356
 1.73205081 2.         2.23606798 2.44948974 2.64575131 2.82842712
 3.        ]
-----------------------
[ 9  4  1  0  1  4  9 16 25 36 49 64 81]
-----------------------
[3 2 1 0 1 2 3 4 5 6 7 8 9]
-----------------------
[4.97870684e-02 1.35335283e-01 3.67879441e-01 1.00000000e+00
 2.71828183e+00 7.38905610e+00 2.00855369e+01 5.45981500e+01
 1.48413159e+02 4.03428793e+02 1.09663316e+03 2.98095799e+03
 8.10308393e+03]
-----------------------
9
-3
-----------------------
[-1 -1 -1  0  1  1  1  1  1  1  1  1  1]
-----------------------
[-0.14112001 -0.90929743 -0.84147098  0.          0.84147098  0.90929743
  0.14112001 -0.7568025  -0.95892427 -0.2794155   0.6569866   0.98935825
  0.41211849]
-----------------------

<ipython-input-58-8521ab1e6c8f>:4: RuntimeWarning: invalid value encountered in sqrt
  print(np.sqrt(np1))

**PART4**

copy vs view

In [60]:
np1 = np.arange(0, 6)

#create a view - the np2 is still connected to the original np1
np2 = np1.view()

print(f'original {np1}')
print(f'original {np2}')

np1[0] = 41

print(f'changed {np1}')
print(f'original {np2}')

original [0 1 2 3 4 5]
original [0 1 2 3 4 5]
changed [41  1  2  3  4  5]
original [41  1  2  3  4  5]

In [64]:
np3 = np.arange(0, 6)

#create a copy
np4 = np3.copy()

print(f'original {np3}')
print(f'original {np4}')

np3[0] = 41

print(f'changed {np3}')
print(f'original {np4}')

original [0 1 2 3 4 5]
original [0 1 2 3 4 5]
changed [41  1  2  3  4  5]
original [0 1 2 3 4 5]

**PART5**

shape and reshape

In [90]:
#create 1d numpy array and get shape

np1 = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
print(np1.shape)

#create 2d arraty and get shape

np2 = np.array([[1,2,3,4,5,6], [7,8,9,10,11,12]])
print(np2.shape)

#reshape 2d
print(np2.reshape(4, 3))
print()

#reshape 3d
np3 = np2.reshape(2,2,3)
print(np3)
print(np3.shape)

np3[0,0,0]

#flatten to 1d

np4 = np3.reshape(-1) # use -1 to convert to 1d array
print(np4)

(12,)
(2, 6)
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
(2, 2, 3)
[ 1  2  3  4  5  6  7  8  9 10 11 12]

3d coordinates

![image.png]()

**PART6**

iterating through arrays

In [95]:
#1d array
np1 = np.array([1,2,3,4,5])
for i in np1:
  print(i)

1
2
3
4
5

In [99]:
#2d array

np2 = np.arange(0,10).reshape(2, 5)
print(np2)

for i in np2:
  for j in i:
    print(j)

[[0 1 2 3 4]
 [5 6 7 8 9]]
0
1
2
3
4
5
6
7
8
9

In [102]:
#3d array

np3 = np.arange(1,13).reshape(2,2,3)
print(np3)

for i in np3:
  for j in i:
    for k in j:
      print(k)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
1
2
3
4
5
6
7
8
9
10
11
12

**easier way!**

In [103]:
#using np.nditer()

for i in np.nditer(np3):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12

**PART7**

sorting arrays

In [105]:
#np.sort() NUMERICAL
np1 = np.array([6,4,3,2,-1,9])
print(np1)
print(np.sort(np1))

[ 6  4  3  2 -1  9]
[-1  2  3  4  6  9]

In [107]:
#ALPHABETICAL
np2 = np.array(["Tim", "Luke", "Matthew", "John"])
print(np2)
print(np.sort(np2))

['Tim' 'Luke' 'Matthew' 'John']
['John' 'Luke' 'Matthew' 'Tim']

In [108]:
#BOOLEAN - sort from False to True
np3 = np.array([True, False, False, True])
print(np3)
print(np.sort(np3))

[ True False False  True]
[False False  True  True]

In [109]:
#return a copy not change the original
print(np1)
print(np.sort(np1))
print(np1)

[ 6  4  3  2 -1  9]
[-1  2  3  4  6  9]
[ 6  4  3  2 -1  9]

In [111]:
#2d array
np4 = np.array([[1,23, 4], [3, 5, -5]])
print(np4)
print(np.sort(np4)) # each row is sorted

[[ 1 23  4]
 [ 3  5 -5]]
[[ 1  4 23]
 [-5  3  5]]

**PART8**

easy searching

In [123]:
np1 = np.array([1,2,3,4,5,6,7,8,9,10,3])

x = np.where(np1 == 3) # this function returns the index number
print(x)
print(x[0])

(array([ 2, 10]),)
[ 2 10]

In [124]:
print(np1[x]) # to return the actual item

[3 3]

In [126]:
#return even items

y = np.where(np1 % 2 == 0) # index is 1 it means that the acutal number is 2
print(y)

print(np1[y]) # actual numbers

(array([1, 3, 5, 7, 9]),)
[ 2  4  6  8 10]

In [128]:
#return odd items
z = np.where(np1 % 2 == 1)
print(z)

print(np1[z])

(array([ 0,  2,  4,  6,  8, 10]),)
[1 3 5 7 9 3]

**PART9**

filtering arrays

In [132]:
np1 = np.array([1,2,3,4,5,6,7,8,9,10])
x = [True, True, False, False, False, False, False, False, False, False ] #not effective

print(np1)
print(np1[x])

[ 1  2  3  4  5  6  7  8  9 10]
[1 2]

In [143]:
filtered = [True if i % 2 == 0 else False for i in np1]

print(filtered)

[False, True, False, True, False, True, False, True, False, True]

In [145]:
print(np1[filtered])

[ 2  4  6  8 10]

In [147]:
filtered_by_5 = [True if i > 5 else False for i in np1]
print(filtered_by_5)
print(np1[filtered_by_5])

[False, False, False, False, False, True, True, True, True, True]
[ 6  7  8  9 10]

easier way!

In [150]:
filtered = np1 % 2 == 0
print(np1)
print(filtered)
print(np1[filtered])

[ 1  2  3  4  5  6  7  8  9 10]
[False  True False  True False  True False  True False  True]
[ 2  4  6  8 10]

In [152]:
filtered = np1 % 2 == 1
print(np1)
print(filtered)
print(np1[filtered])

[ 1  2  3  4  5  6  7  8  9 10]
[ True False  True False  True False  True False  True False]
[1 3 5 7 9]

In [151]:
filtered_by_5 = np1 > 5
print(filtered_by_5)
print(np1[filtered_by_5])

[False False False False False  True  True  True  True  True]
[ 6  7  8  9 10]